
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar>h1{
    text-align: center;
    margin-top: 20px;
}
body{
    min-height: 100vh;
}

/*--------------------------- side navbar ----------------------------------*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 18%;
    padding: 10px 14px;
    background-color: whitesmoke;
    border-right:2px solid  grey;
}
nav .logo{
    min-width:  80%;
}
nav .logo img{
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    list-style: none;
    text-decoration:none ;
}
.menu-items i{
    font-size: 24px;
    min-width: 20% ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(58, 56, 56)
}
.menu-items li a .link-name{
    font-size: 18px;
    color: rgb(58, 56, 56)
}
.nav-links li:hover{
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ----------------------main content area and search box---------------- */
.dashboard{
    position: relative;
    left: 18%;
    height: 60px;
    width: calc(100% - 18%);
    padding: 10px 14px;
}
.dashboard .top{
    padding: 10px;
    position: absolute;
    top: 0;   
    left: 100px;
    display: flex;
    align-items: center;
    width: calc(100% - 18%);
    justify-content: space-between;
}
.add_button>button{
    width: 150px;
    height: 30px;
}

.dashboard .top .search-bar{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: auto;
}
.dashboard .top input{
    position: absolute;
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    padding: 0 25px 0 50px;
    border-radius: 5px;
    outline: none;
}
.dashboard .top .search-bar i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.display-main{
  
    position: absolute;
    left: 18%;
    width: calc(100% - 18%);
    padding: 10px 14px;
    margin-top: 10px;
}


/* --------------------------styling for table----------------------------*/

table{
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}
table tr:nth-child(1){
    background-color: #109177;
    height: 30px;
}
table td {
    border:1px solid #ccc;
    text-align: center;
  }

.prod{
 display: flex;
 align-items: center;
  }

td>img{
    width: 30px;
}

table button{
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

}

/*----------------------Add products form style--------------------------*/

.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}

.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="url"],
.form-style-5 textareat {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus
{
	background: #d2d9dd;
}

.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}

/* ----------------------------media queries----------------------- */
@media screen and (min-width: 481px) and (max-width: 767px) {
  
    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 18%;
        padding: 2px 5px;
        background-color: whitesmoke;
        border-right:2px solid  grey;
    }
    nav .logo{
        min-width:  80%;
    }
    nav .logo img{
        width:100%;
        object-fit: cover;
        border-radius: 10px;
    }
    nav .menu-items{
        margin-top: 40px;
        height: calc(100% - 90%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu-items i{
        font-size: 8px;
        min-width: 20% ;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(58, 56, 56)
    }
    .menu-items li a .link-name{
        font-size: 12px;
        color: rgb(58, 56, 56)
    }
  }

  @media screen and (max-width: 480px){
    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 18%;
        padding: 5px 10px;
        background-color: whitesmoke;
        border-right:2px solid  grey;
    }
    nav .logo{
        min-width:  80%;
    }
    nav .logo img{
        width:100%;
        object-fit: cover;
        border-radius: 10px;
    }
    nav .menu-items{
        margin-top: 40px;
        height: calc(100% - 90%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu-items i{
       display: none;
    }
    .menu-items li a .link-name{
        font-size: 8px;
        color: rgb(58, 56, 56)
    }
    
  }


